In [1]:
#import dependecies
import numpy as np
import pandas as pd 
import os
import scipy
from textblob import TextBlob
from sklearn import metrics
from mlxtend.plotting import plot_confusion_matrix
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /Users/zara/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#import files
df1=pd.read_csv("../Youtube-Spam-Collection-v1/Youtube01-Psy.csv")
df2=pd.read_csv("../Youtube-Spam-Collection-v1/Youtube02-KatyPerry.csv")
df3=pd.read_csv("../Youtube-Spam-Collection-v1/Youtube03-LMFAO.csv")
df4=pd.read_csv("../Youtube-Spam-Collection-v1/Youtube04-Eminem.csv")
df5=pd.read_csv("../Youtube-Spam-Collection-v1/Youtube05-Shakira.csv")

df4

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12rwfnyyrbsefonb232i5ehdxzkjzjs2,Lisa Wellas,NaN,+447935454150 lovely girl talk to me xxx﻿,1
1,z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04,jason graham,2015-05-29T02:26:10.652000,I always end up coming back to this song<br />﻿,0
2,z13vsfqirtavjvu0t22ezrgzyorwxhpf3,Ajkal Khan,NaN,"my sister just received over 6,500 new <a rel=...",1
3,z12wjzc4eprnvja4304cgbbizuved35wxcs,Dakota Taylor,2015-05-29T02:13:07.810000,Cool﻿,0
4,z13xjfr42z3uxdz2223gx5rrzs3dt5hna,Jihad Naser,NaN,Hello I&#39;am from Palastine﻿,1
...,...,...,...,...,...
443,LneaDw26bFu3RCmyrWyP9S6wh1h9dBv3X95g1HzKAb4,Dany PK,NaN,SUBSCRIBE TO MY CHANNEL X PLEASE!. SPARE,1
444,LneaDw26bFsD65dtIvAEObWYIYnFTqQDKBek_Ypz3J8,SmexyFriedChicken,NaN,Check out my videos guy! :) Hope you guys had ...,1
445,LneaDw26bFuvs-8oWkLpAFa6g3QHpWD8k7sbbMP3Bg8,The Guy That's Done Everything,NaN,3 yrs ago I had a health scare but thankfully ...,1
446,z12hfp2wmyuqztkw504cgblyxtbsxjuzeow0k,Jesse Pinkman,2015-05-06T11:42:44.601000,Rihanna looks so beautiful with red hair ;)﻿,0
447,z13tsbc5vvn0hdozz04chjt51lq1cvris0k,Gaming Gaming,2015-05-06T10:56:35.972000,857.482.940 views AWESOME !!!!!!!!!!!!!!!!!!!!...,0

In [3]:
#add amount of times each user made a comment on the video column
df1["COMMENT_COUNT"]=df1.groupby(['AUTHOR'])['CONTENT'].transform('count')
df2["COMMENT_COUNT"]=df2.groupby(['AUTHOR'])['CONTENT'].transform('count')
df3["COMMENT_COUNT"]=df3.groupby(['AUTHOR'])['CONTENT'].transform('count')
df4["COMMENT_COUNT"]=df4.groupby(['AUTHOR'])['CONTENT'].transform('count')
df5["COMMENT_COUNT"]=df5.groupby(['AUTHOR'])['CONTENT'].transform('count')
df3

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,COMMENT_COUNT
0,z13uwn2heqndtr5g304ccv5j5kqqzxjadmc0k,Corey Wilson,2015-05-28T21:39:52.376000,"<a href=""http://www.youtube.com/watch?v=KQ6zr6...",0,1
1,z124jvczaz3dxhnbc04cffk43oiugj25yzo0k,Epic Gaming,2015-05-28T20:07:20.610000,wierd but funny﻿,0,1
2,z13tczjy5xj0vjmu5231unho1ofey5zdk,LaS Music,2015-05-28T19:23:35.355000,"Hey guys, I&#39;m a human.<br /><br /><br />Bu...",1,1
3,z13tzr0hdpnayhqqc04cd3zqqqjkf3ngckk0k,Cheryl Fox,2015-05-28T17:49:35.294000,Party Rock....lol...who wants to shuffle!!!﻿,0,1
4,z12pcvix4zedcjvyb04ccr1r0mr2g5xwyng0k,PATRICK_TW,2015-05-28T16:28:26.818000,Party rock﻿,0,1
...,...,...,...,...,...,...
433,z13lvr4iupatjlrem231yvpxolzvspwdl,Salty Croc,2014-07-22T04:20:37.489000,Like this comment for no reason﻿,1,1
434,z12lxhrqdkyusbkji04cihtrvn3jvxnqszg0k,Bob Orton,2014-07-22T00:26:50.820000,love this song﻿,0,1
435,z12xhdjrsxm3v550w22oynsjrnmvjhkvj,LuckyMusiqLive,2014-07-21T22:25:54.048000,this song is awesome. these guys are the best....,1,1
436,z13msngo3qvwx1ym223pehqgouexzdmnm,xXxPWND 420xXx,2014-07-21T11:05:51.945000,HOW MANY THUMBS UP FOR LOUIS SAVING THE DAY!?!?﻿,1,1
437,z120hptrylzqzdsoj04cepaonmuyyr1afj0,Matheus Macedo,2014-07-21T04:24:24.585000,NICE :3﻿,0,1

In [4]:
df3.dtypes

COMMENT_ID       object
AUTHOR           object
DATE             object
CONTENT          object
CLASS             int64
COMMENT_COUNT     int64
dtype: object

CLEANING COLUMNS

In [5]:
#clean data- df1
df1=df1.drop(columns=["COMMENT_ID", "AUTHOR","DATE"])
df1=df1.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df1=df1.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df1['CONTENT']= df1['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df1['CONTENT']=df1['CONTENT'].str.replace('\W',' ',regex=True)
df1['CONTENT']=df1['CONTENT'].str.replace('\d+',' ')
#everything to lowercase
df1['CONTENT']=df1['CONTENT'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df1["CONTENT"]=df1["CONTENT"].apply(lambda x: remove_stop(x))

df1

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                               CONTENT CLASS COMMENT_COUNT
0               huh anyway check tube channel kobyoshi     1             1
1    hey guys check new channel first vid us monkey...     1             1
2                                  test say murdev com     1             1
3                     shaking sexy ass channel enjoy _     1             1
4                            watch v vtarggvgtwq check     1             1
..                                                 ...   ...           ...
345                           billion views planet lol     0             1
346                                           watching     0             1
347      subscribe call duty vids give aways goal subs     1             1
348  hi guys please android photo editor download t...     1             1
349  first billion viewed thought really cool billi...     0             1

[350 rows x 3 columns]

In [6]:
#clean data- df2
df2=df2.drop(columns=["COMMENT_ID", "AUTHOR","DATE"])
df2=df2.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df2=df2.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df2['CONTENT']= df2['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df2['CONTENT']=df2['CONTENT'].str.replace('\W',' ',regex=True)
df2['CONTENT']=df2['CONTENT'].str.replace('\d+',' ')
#everything to lowercase
df2['CONTENT']=df2['CONTENT'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df2["CONTENT"]=df2["CONTENT"].apply(lambda x: remove_stop(x))

df2

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                               CONTENT CLASS COMMENT_COUNT
0    love much also generate free leads auto pilot amp     1             1
1          vote sones please vips please help us gt lt     1             1
2    hey guys please join fight help abused mistrea...     1             1
3                                                 song     1             1
4                           hey everyone watch trailer     1             1
..                                                 ...   ...           ...
345  song means much thank sooooooooooooooooooooooo...     0             1
346                                                 lt     0             1
347  katy perry dcio cabelo decio hair years age fa...     1             1
348  honestly speaking except taylor swift adele li...     0             1
349              going reach billion first katy taylor     0             1

[350 rows x 3 columns]

In [7]:
#clean data- df3
df3=df3.drop(columns=["COMMENT_ID", "AUTHOR","DATE"])
df3=df3.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df3=df3.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df3['CONTENT']= df3['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df3['CONTENT']=df3['CONTENT'].str.replace('\W',' ',regex=True)
df3['CONTENT']=df3['CONTENT'].str.replace('\d+',' ')
#everything to lowercase
df3['CONTENT']=df3['CONTENT'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df3["CONTENT"]=df3["CONTENT"].apply(lambda x: remove_stop(x))

df3

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                               CONTENT CLASS COMMENT_COUNT
0                                       href best part     0             1
1                                          wierd funny     0             1
2    hey guys human br br br want human want sexy f...     1             1
3                         party rock lol wants shuffle     0             1
4                                           party rock     0             1
..                                                 ...   ...           ...
433                                like comment reason     1             1
434                                          love song     0             1
435  song awesome guys best love video hilarious lo...     1             1
436                       many thumbs louis saving day     1             1
437                                               nice     0             1

[438 rows x 3 columns]

In [8]:
#clean data- df4
df4=df4.drop(columns=["COMMENT_ID", "AUTHOR","DATE"])
df4=df4.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df4=df1.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df4['CONTENT']= df4['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df4['CONTENT']=df4['CONTENT'].str.replace('\W',' ',regex=True)
df4['CONTENT']=df4['CONTENT'].str.replace('\d+',' ')
#everything to lowercase
df4['CONTENT']=df4['CONTENT'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df4["CONTENT"]=df4["CONTENT"].apply(lambda x: remove_stop(x))

df4

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                               CONTENT CLASS COMMENT_COUNT
0               huh anyway check tube channel kobyoshi     1             1
1    hey guys check new channel first vid us monkey...     1             1
2                                  test say murdev com     1             1
3                     shaking sexy ass channel enjoy _     1             1
4                            watch v vtarggvgtwq check     1             1
..                                                 ...   ...           ...
345                           billion views planet lol     0             1
346                                           watching     0             1
347      subscribe call duty vids give aways goal subs     1             1
348  hi guys please android photo editor download t...     1             1
349  first billion viewed thought really cool billi...     0             1

[350 rows x 3 columns]

In [9]:
#clean data- df5
df5=df5.drop(columns=["COMMENT_ID", "AUTHOR","DATE"])
df5=df5.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df5=df1.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df5['CONTENT']= df5['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df5['CONTENT']=df5['CONTENT'].str.replace('\W',' ',regex=True)
df5['CONTENT']=df5['CONTENT'].str.replace('\d+',' ')
#everything to lowercase
df5['CONTENT']=df5['CONTENT'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df5["CONTENT"]=df5["CONTENT"].apply(lambda x: remove_stop(x))

df5

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                               CONTENT CLASS COMMENT_COUNT
0               huh anyway check tube channel kobyoshi     1             1
1    hey guys check new channel first vid us monkey...     1             1
2                                  test say murdev com     1             1
3                     shaking sexy ass channel enjoy _     1             1
4                            watch v vtarggvgtwq check     1             1
..                                                 ...   ...           ...
345                           billion views planet lol     0             1
346                                           watching     0             1
347      subscribe call duty vids give aways goal subs     1             1
348  hi guys please android photo editor download t...     1             1
349  first billion viewed thought really cool billi...     0             1

[350 rows x 3 columns]

In [10]:
#reorganize columns
columns=["CONTENT", "COMMENT_COUNT","CLASS"]
df1=df1[columns]
df2=df2[columns]
df3=df3[columns]
df4=df4[columns]
df5=df5[columns]

df3

                                               CONTENT COMMENT_COUNT CLASS
0                                       href best part             1     0
1                                          wierd funny             1     0
2    hey guys human br br br want human want sexy f...             1     1
3                         party rock lol wants shuffle             1     0
4                                           party rock             1     0
..                                                 ...           ...   ...
433                                like comment reason             1     1
434                                          love song             1     0
435  song awesome guys best love video hilarious lo...             1     1
436                       many thumbs louis saving day             1     1
437                                               nice             1     0

[438 rows x 3 columns]

In [11]:
df = pd.concat([df1, df2, df3, df4, df5])
df

                                               CONTENT COMMENT_COUNT CLASS
0               huh anyway check tube channel kobyoshi             1     1
1    hey guys check new channel first vid us monkey...             1     1
2                                  test say murdev com             1     1
3                     shaking sexy ass channel enjoy _             1     1
4                            watch v vtarggvgtwq check             1     1
..                                                 ...           ...   ...
345                           billion views planet lol             1     0
346                                           watching             1     0
347      subscribe call duty vids give aways goal subs             1     1
348  hi guys please android photo editor download t...             1     1
349  first billion viewed thought really cool billi...             1     0

[1838 rows x 3 columns]

In [12]:
df.dtypes

CONTENT          object
COMMENT_COUNT    object
CLASS            object
dtype: object

In [13]:
df[["COMMENT_COUNT","CLASS"]]=df[["COMMENT_COUNT","CLASS"]].apply(pd.to_numeric)
df.dtypes

CONTENT          object
COMMENT_COUNT     int64
CLASS             int64
dtype: object

In [14]:
df=df.dropna()
df

                                               CONTENT  COMMENT_COUNT  CLASS
0               huh anyway check tube channel kobyoshi              1      1
1    hey guys check new channel first vid us monkey...              1      1
2                                  test say murdev com              1      1
3                     shaking sexy ass channel enjoy _              1      1
4                            watch v vtarggvgtwq check              1      1
..                                                 ...            ...    ...
345                           billion views planet lol              1      0
346                                           watching              1      0
347      subscribe call duty vids give aways goal subs              1      1
348  hi guys please android photo editor download t...              1      1
349  first billion viewed thought really cool billi...              1      0

[1838 rows x 3 columns]

In [19]:
df.to_csv("author_count_df.csv")

CLEAN API DATASETS WITH COMMENT COUNT COLUMN

In [20]:
#import datasets from api find
df1=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/Youtube_Analysis/csv/what%20happened.%20comments.csv")
df2=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/Youtube_Analysis/csv/Snarky%20Puppy%20-%20Trinity%20(Extended%20Version)%20(Empire%20Central)%20comments.csv")
df3=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/Youtube_Analysis/csv/Shooter%20in%20custody%20after%20allegedly%20killing%202%20at%20Methodist%20Dallas%20Medical%20Center%20comments.csv")
df4=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/Youtube_Analysis/csv/Rishi%20Sunak%20to%20make%20history%20as%20U.K.'s%20next%20prime%20minister%20comments.csv")
df5=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/Youtube_Analysis/csv/Justice%20Thomas%20Temporarily%20Blocks%20Graham%20Testimony%20In%20Georgia%20Election%20Interference%20Probe%20comments.csv")

df4

,id,author,thumbsup,text,# of replies,replies
0,Ugy4RpuyuHCiq6Lj_8B4AaABAg,CBS News,1,Click here for more world news: https://youtub...,1,['Thanks for Always Watching our Videos and co...
1,Ugz2nww5rp6bmA86Xt14AaABAg,Foo Cortez,0,"what a great accomplishment, UK! Surely elect...",0,[]
2,UgwIJbvA_JidBhZxfXt4AaABAg,Roc,0,Another suit pretending to represent the people.,0,[]
3,Ugxq4KYBZpROL_OqY-B4AaABAg,SHINE - on -TV,0,This is the man from the world economic forum ...,0,[]
4,UgwbF45YM0RCCSVK-UV4AaABAg,Bill Paul,0,Congratulations! Celebrate Dipavali at 10 Down...,0,[]
...,...,...,...,...,...,...
156,Ugw6bnq374CXREmrK-R4AaABAg,i love President Trump,14,"UK has gone woke and soft, final nail in the c...",6,"[""He's an extremely wealthy hardworking, busin..."
157,UgwPSCYGXz-Yv3yxs5F4AaABAg,Sean Lann,12,PM richer than the king XD,6,"[""except the king didn't earn it"", ""Their fami..."
158,Ugzp4Pdf8HTrbx6Ojv94AaABAg,Tibore Goldberger,0,🤡🤡🤡🤡🤡🤡🤡🤡💩💩💩💩💩💩💩💩💩💩😱😵😵😵🥴🥴🥴🥴🥴🥴🥴🥴🤡🤡🤡🤡🤡🤡💩💩💩💩💩💩💩💩💩💩,2,['@+①③②①③⑧④⑧⑤⑧⑦ WhatsApp Nation of Islam ideol...
159,Ugx16QtYBlI6-wue9Fl4AaABAg,Siyr Quintana,0,⚠ATTENTION⚠ Volodimir Zelensky wants commit te...,1,['Thanks for Always Watching our Videos and co...
160,UgzPgrPHNO4Kv3A9Gtd4AaABAg,sravan vlogs,47,Real Diwali has started today since the appoin...,5,['@Kartik S Kumar lavade pata nahi kya tuzhe 😂...

In [21]:
#add amount of times each user made a comment on the video column
df1["COMMENT_COUNT"]=df1.groupby(['author'])['text'].transform('count')
df2["COMMENT_COUNT"]=df2.groupby(['author'])['text'].transform('count')
df3["COMMENT_COUNT"]=df3.groupby(['author'])['text'].transform('count')
df4["COMMENT_COUNT"]=df4.groupby(['author'])['text'].transform('count')
df5["COMMENT_COUNT"]=df5.groupby(['author'])['text'].transform('count')
df3

,id,author,thumbsup,text,# of replies,replies,COMMENT_COUNT
0,UgySxNLGBmkYrsDnapt4AaABAg,Ali,0,Elhamdülillah ya rabbi,0,[],1
1,Ugxn6a-JIJlcsZv7Zd94AaABAg,J NS,0,They can’t say nurses because the hospitals fe...,0,[],2
2,UgydfG-SlyXqgCGqFv94AaABAg,Terry,0,"They're not going to give you a motive, here's...",0,[],1
3,UgytJ_XGegcbdGngPIF4AaABAg,smc130TX,0,Two registered nurses!!!,0,[],1
4,UgwIPLV5wdJ4FKN3zrN4AaABAg,ASS KETCHUP,0,These comments crack me up. If you hate guns a...,0,[],1
...,...,...,...,...,...,...,...
121,UgxD4ynHgQ3CICApPYl4AaABAg,Lezo Brandon,1,Welcome to Joe Biden's America really went dow...,0,[],1
122,UgxJt-edztGwRAkqnId4AaABAg,oldestgamer,2,"hmm, why didn't they treat the shooter at Meth...",2,['He was stabilized and transferred to another...,1
123,UgwOfCN7LIoNUiZpnSN4AaABAg,Gus Garza,11,No place is safe anymore! This is sad what thi...,12,"['@dingus Pick one', '@resident rump Which tri...",1
124,UgxZtX-Kwvc27Yr1kB54AaABAg,Cyan Kirkpatrick,0,😡😓💔❣️🙏🥺☦️🕊️,0,[],1
125,UgxShZRJtJX5dL1FHKR4AaABAg,Daniel Gontar,9,oxycodone addict,1,"[""Id think more to it than that. I'm a chronic...",1

In [22]:
#clean data- df1
df1=df1.drop(columns=["id", "author","thumbsup","# of replies","replies"])
df1=df1.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df1=df1.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df1['text']= df1['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df1['text']=df1['text'].str.replace('\W',' ',regex=True)
df1['text']=df1['text'].str.replace('\d+',' ')
#everything to lowercase
df1['text']=df1['text'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df1["text"]=df1["text"].apply(lambda x: remove_stop(x))

df1

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                                    text COMMENT_COUNT
0      done much worse things take interview dr fauci...           1.0
1      thought issue realized happened anniversary mo...           1.0
2      wait cheated sounds like dude mass murderer pl...           1.0
3                  issue force another employee big deal           1.0
4                                                oh gosh           1.0
...                                                  ...           ...
51287                                              first           1.0
51288                                                way           1.0
51289                                               good           1.0
51290                                     im early early           1.0
51291                                                wow           2.0

[51286 rows x 2 columns]

In [23]:
#clean data- df1
df2=df2.drop(columns=["id", "author","thumbsup","# of replies","replies"])
df2=df2.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df2=df2.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df2['text']= df2['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df2['text']=df2['text'].str.replace('\W',' ',regex=True)
df2['text']=df2['text'].str.replace('\d+',' ')
#everything to lowercase
df1['text']=df2['text'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df2["text"]=df2["text"].apply(lambda x: remove_stop(x))

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

In [24]:
#clean data- df1
df3=df3.drop(columns=["id", "author","thumbsup","# of replies","replies"])
df3=df3.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df3=df3.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df3['text']= df3['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df3['text']=df3['text'].str.replace('\W',' ',regex=True)
df3['text']=df3['text'].str.replace('\d+',' ')
#everything to lowercase
df3['text']=df3['text'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df3["text"]=df3["text"].apply(lambda x: remove_stop(x))

df3

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                                  text COMMENT_COUNT
0                                elhamdlillah ya rabbi             1
1    cant say nurses hospitals fear losing grip pow...             2
2    going give motive hipaa laws actually apply si...             1
3                                two registered nurses             1
4    comments crack hate guns want guns banned move...             1
..                                                 ...           ...
121    welcome joe biden america really went hill fast             1
122                        hmm treat shooter methodist             1
123  place safe anymore sad country going thru n th...             1
124                                                                1
125                                   oxycodone addict             1

[126 rows x 2 columns]

In [25]:
#clean data- df1
df4=df4.drop(columns=["id", "author","thumbsup","# of replies","replies"])
df4=df4.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df4=df4.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df4['text']= df4['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df4['text']=df4['text'].str.replace('\W',' ',regex=True)
df4['text']=df4['text'].str.replace('\d+',' ')
#everything to lowercase
df4['text']=df4['text'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df4["text"]=df4["text"].apply(lambda x: remove_stop(x))

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

In [26]:
#clean data- df1
df5=df5.drop(columns=["id", "author","thumbsup","# of replies","replies"])
df5=df5.dropna()
#remove urls, special characters, and punctuations, trailing spaces, emojis
df5=df5.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))
df5['text']= df5['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df5['text']=df5['text'].str.replace('\W',' ',regex=True)
df5['text']=df5['text'].str.replace('\d+',' ')
#everything to lowercase
df5['text']=df5['text'].str.lower()
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df5["text"]=df5["text"].apply(lambda x: remove_stop(x))

df5

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

                                                  text COMMENT_COUNT
0          america done cant even continue insane mess             1
1                   fighting supreme court frustrating             1
2                                  justice house ninja             1
3                                 uncle thomas justice             1
4    clarence thomas corrupt traitor removed suprem...             2
..                                                 ...           ...
916                           corrupt see look yo word             1
917               call preferential treatment big time             1
918                                         revolution             1
919                                rats stick together             1
920  absolute travesty justice impeach remove recus...             3

[921 rows x 2 columns]

In [27]:
#save the df
df1.to_csv("author_count_what_happened.csv")
df2.to_csv("author_count_snarky_puppy.csv")
df3.to_csv("author_count_methodist_shooter.csv")
df4.to_csv("author_count_prime_minister.csv")
df5.to_csv("author_count_justice_thomas.csv")

MACHINE LEARNING ATTEMPT

In [16]:
#import ml dependecies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm

In [17]:
feature_df=df[["CONTENT","COMMENT_COUNT"]]

In [18]:
#train the data
z = feature_df
y = df["CLASS"]
z_train, z_test,y_train, y_test = train_test_split(z,y,test_size = 0.2)

cv = CountVectorizer()
features = cv.fit_transform(z_train)

model = svm.SVC()
model.fit(features,y_train)

features_test= cv.transform(z_test)
print(model.score(features_test,y_test))

ValueError: Found input variables with inconsistent numbers of samples: [2, 1470]