In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import scipy
from textblob import TextBlob
from sklearn import metrics
from mlxtend.plotting import plot_confusion_matrix

In [2]:
#import in csv file with comments
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Group_project/Kevin/yt/csv/what%20happened.%20comments.csv")
df.head()

,id,author,thumbsup,text,# of replies,replies
0,UgxthbCBDyVQkjwuOEF4AaABAg,JC,0,You have done much worse things - take the int...,1,"[""Hey there troll, how ya doin'?""]"
1,Ugy6uVlNSOSWrJvm3R54AaABAg,NiceToSee You,0,I thought I was over the issue but then I real...,0,[]
2,Ugx3ujNO4ZpGV7T4HhJ4AaABAg,Sohu,0,wait - so he cheated? it sounds like the dude ...,1,"[""Look at the comments, it's explained multipl..."
3,UgzucTxFKtl3-47Z-8d4AaABAg,Heldermaior,0,What is the issue here? Did he force himself o...,1,"[""Look at the comments, it's explained multipl..."
4,Ugwt9nqZ-TApbLxEiBx4AaABAg,Raquel Nery,0,Oh gosh,0,[]

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["replies", "# of replies","id", "author", "thumbsup"], inplace=True)

In [4]:
df.head()

                                                text
0  You have done much worse things - take the int...
1  I thought I was over the issue but then I real...
2  wait - so he cheated? it sounds like the dude ...
3  What is the issue here? Did he force himself o...
4                                            Oh gosh

In [5]:
#null values
df.isnull().sum()

text    3
dtype: int64

In [6]:
#drop null
df.dropna()
df.dtypes

text    object
dtype: object

REMOVE EXTRA CHARACTERS

In [7]:

#%pip install clean-text

In [8]:
#remove emojis, 
#from cleantext import clean
#clean(df, no_emoji=True)

df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [9]:
#remove urls, special characters, and punctuations, trailing spaces
df['text']= df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['text']=df['text'].str.replace('\W',' ',regex=True)
df['text']=df['text'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                                    text
0      You have done much worse things   take the int...
1      I thought I was over the issue but then I real...
2      wait   so he cheated  it sounds like the dude ...
3      What is the issue here  Did he force himself o...
4                                                Oh gosh
...                                                  ...
51287                                              First
51288                                             NO WAY
51289                                               Good
51290                                     Im early early
51291                                                wow

[51292 rows x 1 columns]

In [10]:
df.dtypes

text    object
dtype: object

LOWERCASE

In [11]:
#everything to lowercase
df['text']=df['text'].str.lower()
df

                                                    text
0      you have done much worse things   take the int...
1      i thought i was over the issue but then i real...
2      wait   so he cheated  it sounds like the dude ...
3      what is the issue here  did he force himself o...
4                                                oh gosh
...                                                  ...
51287                                              first
51288                                             no way
51289                                               good
51290                                     im early early
51291                                                wow

[51292 rows x 1 columns]

REMOVE STOP WORDS

In [12]:
#remove stop words
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /Users/zara/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
",".join(stopwords.words('english'))

"i,me,my,myself,we,our,ours,ourselves,you,you're,you've,you'll,you'd,your,yours,yourself,yourselves,he,him,his,himself,she,she's,her,hers,herself,it,it's,its,itself,they,them,their,theirs,themselves,what,which,who,whom,this,that,that'll,these,those,am,is,are,was,were,be,been,being,have,has,had,having,do,does,did,doing,a,an,the,and,but,if,or,because,as,until,while,of,at,by,for,with,about,against,between,into,through,during,before,after,above,below,to,from,up,down,in,out,on,off,over,under,again,further,then,once,here,there,when,where,why,how,all,any,both,each,few,more,most,other,some,such,no,nor,not,only,own,same,so,than,too,very,s,t,can,will,just,don,don't,should,should've,now,d,ll,m,o,re,ve,y,ain,aren,aren't,couldn,couldn't,didn,didn't,doesn,doesn't,hadn,hadn't,hasn,hasn't,haven,haven't,isn,isn't,ma,mightn,mightn't,mustn,mustn't,needn,needn't,shan,shan't,shouldn,shouldn't,wasn,wasn't,weren,weren't,won,won't,wouldn,wouldn't"

In [14]:
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["text"]=df["text"].apply(lambda x: remove_stop(x))

df.head()

                                                text
0  done much worse things take interview dr fauci...
1  thought issue realized happened anniversary mo...
2  wait cheated sounds like dude mass murderer pl...
3              issue force another employee big deal
4                                            oh gosh

In [17]:
#save clean data
df.to_csv('Cleaned_Files/clean_what_happened_comments.csv')