In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [2]:
#import file
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/csv/Rishi%20Sunak%20to%20make%20history%20as%20U.K.'s%20next%20prime%20minister%20comments.csv")
df.head()

,id,author,thumbsup,text,# of replies,replies
0,Ugy4RpuyuHCiq6Lj_8B4AaABAg,CBS News,1,Click here for more world news: https://youtub...,1,['Thanks for Always Watching our Videos and co...
1,Ugz2nww5rp6bmA86Xt14AaABAg,Foo Cortez,0,"what a great accomplishment, UK! Surely elect...",0,[]
2,UgwIJbvA_JidBhZxfXt4AaABAg,Roc,0,Another suit pretending to represent the people.,0,[]
3,Ugxq4KYBZpROL_OqY-B4AaABAg,SHINE - on -TV,0,This is the man from the world economic forum ...,0,[]
4,UgwbF45YM0RCCSVK-UV4AaABAg,Bill Paul,0,Congratulations! Celebrate Dipavali at 10 Down...,0,[]

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["replies", "# of replies","id", "author", "thumbsup"], inplace=True)

In [4]:
#check
df.head()

                                                text
0  Click here for more world news: https://youtub...
1  what a great accomplishment, UK!  Surely elect...
2   Another suit pretending to represent the people.
3  This is the man from the world economic forum ...
4  Congratulations! Celebrate Dipavali at 10 Down...

In [7]:
#check
df.isnull().sum()

text    0
dtype: int64

In [8]:
df.dtypes

text    object
dtype: object

In [9]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [10]:
#remove urls, special characters, and punctuations, trailing spaces
df['text']= df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['text']=df['text'].str.replace('\W',' ',regex=True)
df['text']=df['text'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                                  text
0                    Click here for more world news
1    what a great accomplishment  UK   Surely elect...
2     Another suit pretending to represent the people
3    This is the man from the world economic forum ...
4    Congratulations  Celebrate Dipavali at   Downi...
..                                                 ...
156  UK has gone woke and soft  final nail in the c...
157                         PM richer than the king XD
158
159  ATTENTION Volodimir Zelensky wants commit terr...
160  Real Diwali has started today since the appoin...

[161 rows x 1 columns]

In [11]:
#everything to lowercase
df['text']=df['text'].str.lower()
df

                                                  text
0                    click here for more world news
1    what a great accomplishment  uk   surely elect...
2     another suit pretending to represent the people
3    this is the man from the world economic forum ...
4    congratulations  celebrate dipavali at   downi...
..                                                 ...
156  uk has gone woke and soft  final nail in the c...
157                         pm richer than the king xd
158
159  attention volodimir zelensky wants commit terr...
160  real diwali has started today since the appoin...

[161 rows x 1 columns]

In [12]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["text"]=df["text"].apply(lambda x: remove_stop(x))

df.head()

                                                text
0                                   click world news
1  great accomplishment uk surely electing dark s...
2           another suit pretending represent people
3  man world economic forum pushing digital curre...
4  congratulations celebrate dipavali downing st ...

In [13]:
#check nulls
df.isnull().sum()

text    0
dtype: int64

In [14]:
#save clean data
df.to_csv('Cleaned_Files/clean_RishiSunak_UK_Prime_Minister.csv')