In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [2]:
#import file
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/csv/Shooter%20in%20custody%20after%20allegedly%20killing%202%20at%20Methodist%20Dallas%20Medical%20Center%20comments.csv")
df.head()

,id,author,thumbsup,text,# of replies,replies
0,UgySxNLGBmkYrsDnapt4AaABAg,Ali,0,Elhamdülillah ya rabbi,0,[]
1,Ugxn6a-JIJlcsZv7Zd94AaABAg,J NS,0,They can’t say nurses because the hospitals fe...,0,[]
2,UgydfG-SlyXqgCGqFv94AaABAg,Terry,0,"They're not going to give you a motive, here's...",0,[]
3,UgytJ_XGegcbdGngPIF4AaABAg,smc130TX,0,Two registered nurses!!!,0,[]
4,UgwIPLV5wdJ4FKN3zrN4AaABAg,ASS KETCHUP,0,These comments crack me up. If you hate guns a...,0,[]

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["replies", "# of replies","id", "author", "thumbsup"], inplace=True)

In [4]:
#check
df.head()

                                                text
0                             Elhamdülillah ya rabbi
1  They can’t say nurses because the hospitals fe...
2  They're not going to give you a motive, here's...
3                           Two registered nurses!!!
4  These comments crack me up. If you hate guns a...

In [5]:
#check
df.isnull().sum()

text    0
dtype: int64

In [6]:
df.dtypes

text    object
dtype: object

In [7]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [8]:
#remove urls, special characters, and punctuations, trailing spaces
df['text']= df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['text']=df['text'].str.replace('\W',' ',regex=True)
df['text']=df['text'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                                  text
0                                Elhamdlillah ya rabbi
1    They cant say nurses because the hospitals fea...
2    They re not going to give you a motive  here s...
3                             Two registered nurses
4    These comments crack me up  If you hate guns a...
..                                                 ...
121  Welcome to Joe Biden s America really went dow...
122  hmm  why didn t they treat the shooter at Meth...
123  No place is safe anymore  This is sad what thi...
124
125                                   oxycodone addict

[126 rows x 1 columns]

In [9]:
#everything to lowercase
df['text']=df['text'].str.lower()
df

                                                  text
0                                elhamdlillah ya rabbi
1    they cant say nurses because the hospitals fea...
2    they re not going to give you a motive  here s...
3                             two registered nurses
4    these comments crack me up  if you hate guns a...
..                                                 ...
121  welcome to joe biden s america really went dow...
122  hmm  why didn t they treat the shooter at meth...
123  no place is safe anymore  this is sad what thi...
124
125                                   oxycodone addict

[126 rows x 1 columns]

In [10]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["text"]=df["text"].apply(lambda x: remove_stop(x))

df.head()

                                                text
0                              elhamdlillah ya rabbi
1  cant say nurses hospitals fear losing grip pow...
2  going give motive hipaa laws actually apply si...
3                              two registered nurses
4  comments crack hate guns want guns banned move...

In [11]:
#check nulls
df.isnull().sum()

text    0
dtype: int64

In [12]:
#save clean data
df.to_csv('Cleaned_Files/clean_shooter_methodist_dallas.csv')