In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [4]:
#import file
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/YouTube-Spam-Collection-v1/Youtube02-KatyPerry.csv")
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1

In [5]:
#remove unnecessary columns
df.copy()
df.drop(columns=["COMMENT_ID", "AUTHOR","DATE"], inplace=True)
df.head()

                                             CONTENT  CLASS
0  i love this so much. AND also I Generate Free ...      1
1  http://www.billboard.com/articles/columns/pop-...      1
2  Hey guys! Please join me in my fight to help a...      1
3  http://psnboss.com/?ref=2tGgp3pV6L this is the...      1
4  Hey everyone. Watch this trailer!!!!!!!!  http...      1

In [6]:
#check
df.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [7]:
#data type
df.dtypes

CONTENT    object
CLASS       int64
dtype: object

In [8]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [9]:
#remove urls, special characters, and punctuations, trailing spaces
df['CONTENT']= df['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['CONTENT']=df['CONTENT'].str.replace('\W',' ',regex=True)
df['CONTENT']=df['CONTENT'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                               CONTENT CLASS
0    i love this so much  AND also I Generate Free ...     1
1      Vote for SONES please    we re against vips ...     1
2    Hey guys  Please join me in my fight to help a...     1
3                                     this is the song     1
4          Hey everyone  Watch this trailer                1
..                                                 ...   ...
345  This song means so much to me thank you  soooo...     0
346                                               lt       0
347  KATY PERRY  I AM THE  DCIO CABELO    DECIO HAI...     1
348  Honestly speaking except taylor swift and adel...     0
349  who is going to reach the billion first   katy...     0

[350 rows x 2 columns]

In [10]:
#everything to lowercase
df['CONTENT']=df['CONTENT'].str.lower()
df

                                               CONTENT CLASS
0    i love this so much  and also i generate free ...     1
1      vote for sones please    we re against vips ...     1
2    hey guys  please join me in my fight to help a...     1
3                                     this is the song     1
4          hey everyone  watch this trailer                1
..                                                 ...   ...
345  this song means so much to me thank you  soooo...     0
346                                               lt       0
347  katy perry  i am the  dcio cabelo    decio hai...     1
348  honestly speaking except taylor swift and adel...     0
349  who is going to reach the billion first   katy...     0

[350 rows x 2 columns]

In [11]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["CONTENT"]=df["CONTENT"].apply(lambda x: remove_stop(x))

df.head()

                                             CONTENT CLASS
0  love much also generate free leads auto pilot amp     1
1        vote sones please vips please help us gt lt     1
2  hey guys please join fight help abused mistrea...     1
3                                               song     1
4                         hey everyone watch trailer     1

In [12]:
#check nulls
df.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [13]:
#save dataframe as csv file
df.to_csv('Cleaned_Files_With_Class/Clean_Youtube02-KatyPerry.csv')