In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf

In [2]:
# read in the data
df1 = pd.read_csv('YouTube-Spam-Collection-v1/Youtube01-Psy.csv')
df1['video'] = 'Psy - Gangnam Style'
df2 = pd.read_csv('YouTube-Spam-Collection-v1/Youtube02-KatyPerry.csv')
df2['video'] = 'Katy Perry - Roar'
df3 = pd.read_csv('YouTube-Spam-Collection-v1/Youtube03-LMFAO.csv')
df3['video'] = 'LMFAO - Sexy and I Know It'
df4 = pd.read_csv('YouTube-Spam-Collection-v1/Youtube04-Eminem.csv')
df4['video'] = 'Eminem - Love The Way You Lie'
df5 = pd.read_csv('YouTube-Spam-Collection-v1/Youtube05-Shakira.csv')
df5['video'] = 'Shakira - Waka Waka'

# concatenate the dataframes
df = pd.concat([df1, df2, df3, df4, df5])

df

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1,Psy - Gangnam Style
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1,Psy - Gangnam Style
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1,Psy - Gangnam Style
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,Psy - Gangnam Style
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1,Psy - Gangnam Style
...,...,...,...,...,...,...
365,_2viQ_Qnc6-bMSjqyL1NKj57ROicCSJV5SwTrw-RFFA,Katie Mettam,2013-07-13T13:27:39.441000,I love this song because we sing it at Camp al...,0,Shakira - Waka Waka
366,_2viQ_Qnc6-pY-1yR6K2FhmC5i48-WuNx5CumlHLDAI,Sabina Pearson-Smith,2013-07-13T13:14:30.021000,I love this song for two reasons: 1.it is abou...,0,Shakira - Waka Waka
367,_2viQ_Qnc6_k_n_Bse9zVhJP8tJReZpo8uM2uZfnzDs,jeffrey jules,2013-07-13T12:09:31.188000,wow,0,Shakira - Waka Waka
368,_2viQ_Qnc6_yBt8UGMWyg3vh0PulTqcqyQtdE7d4Fl0,Aishlin Maciel,2013-07-13T11:17:52.308000,Shakira u are so wiredo,0,Shakira - Waka Waka
369,_2viQ_Qnc685RPw1aSa1tfrIuHXRvAQ2rPT9R06KTqA,Latin Bosch,2013-07-12T22:33:27.916000,Shakira is the best dancer,0,Shakira - Waka Waka

In [3]:
# drop the comment_id, date, and video columns
df = df.drop(['COMMENT_ID', 'DATE', 'video', 'AUTHOR'], axis=1)

df

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
..                                                 ...    ...
365  I love this song because we sing it at Camp al...      0
366  I love this song for two reasons: 1.it is abou...      0
367                                                wow      0
368                            Shakira u are so wiredo      0
369                         Shakira is the best dancer      0

[1956 rows x 2 columns]

In [4]:
# Use machine learning to create a model that can predict whether a comment is spam or not spam

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['CONTENT'], df['CLASS'], random_state=0)

# Use CountVectorizer to create document-term matrices from X_train and X_test
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

# Use Naive Bayes to predict the star rating for X_test_dtm
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train_dtm, y_train)
y_pred_class = nb.predict(X_test_dtm)

# Calculate the accuracy of your model
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

# Calculate the AUC
y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
metrics.roc_auc_score(y_test, y_pred_prob)

# Print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[191,  35],
       [ 13, 250]], dtype=int64)

In [5]:
# import the what happened csv
df_new = pd.read_csv('csv/what happened. comments.csv')

df_new

,id,author,thumbsup,text,# of replies,replies
0,UgxthbCBDyVQkjwuOEF4AaABAg,JC,0,You have done much worse things - take the int...,1,"[""Hey there troll, how ya doin'?""]"
1,Ugy6uVlNSOSWrJvm3R54AaABAg,NiceToSee You,0,I thought I was over the issue but then I real...,0,[]
2,Ugx3ujNO4ZpGV7T4HhJ4AaABAg,Sohu,0,wait - so he cheated? it sounds like the dude ...,1,"[""Look at the comments, it's explained multipl..."
3,UgzucTxFKtl3-47Z-8d4AaABAg,Heldermaior,0,What is the issue here? Did he force himself o...,1,"[""Look at the comments, it's explained multipl..."
4,Ugwt9nqZ-TApbLxEiBx4AaABAg,Raquel Nery,0,Oh gosh,0,[]
...,...,...,...,...,...,...
51287,UgxyP0ITZrA2CF7JEKB4AaABAg,Jacob lewis Griffiths,4,First,0,[]
51288,UgxoVr952wevxpc1hxR4AaABAg,Brandon Nguyen,13,NO WAY,0,[]
51289,UgzRybYMa-6mmIS7KxF4AaABAg,CR1Tr,9,Good,0,[]
51290,UgwufUpi1-5qHNLg2L94AaABAg,Boydism23,11,I’m early early,0,[]
51291,UgwUDQ8l_2thlnitv0N4AaABAg,Bryan Santos,16,wow,0,[]

In [6]:
# drop id author thumbsup # of replies and replies columns
df_new = df_new.drop(['id', 'author', 'thumbsup', '# of replies', 'replies'], axis=1)

In [7]:
df_new

                                                    text
0      You have done much worse things - take the int...
1      I thought I was over the issue but then I real...
2      wait - so he cheated? it sounds like the dude ...
3      What is the issue here? Did he force himself o...
4                                                Oh gosh
...                                                  ...
51287                                              First
51288                                             NO WAY
51289                                               Good
51290                                    I’m early early
51291                                                wow

[51292 rows x 1 columns]

In [8]:
# drop na
df_new = df_new.dropna()

In [9]:
# use the model to predict the class of the new comments
X_new_dtm = vect.transform(df_new['text'])
new_pred_class = nb.predict(X_new_dtm)

# add the new class to the dataframe
df_new['class'] = new_pred_class

df_new

c:\Users\macdk\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                    text  class
0      You have done much worse things - take the int...      1
1      I thought I was over the issue but then I real...      0
2      wait - so he cheated? it sounds like the dude ...      0
3      What is the issue here? Did he force himself o...      0
4                                                Oh gosh      0
...                                                  ...    ...
51287                                              First      0
51288                                             NO WAY      0
51289                                               Good      0
51290                                    I’m early early      1
51291                                                wow      0

[51289 rows x 2 columns]

In [10]:
# % of comments marked spam
len(df_new[df_new['class'] == 1])/len(df_new)

0.5565325898340775