In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [2]:
#import file
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/YouTube-Spam-Collection-v1/Youtube01-Psy.csv")
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["COMMENT_ID", "AUTHOR","DATE"], inplace=True)
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [4]:
#check
df.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [5]:
#data type
df.dtypes

CONTENT    object
CLASS       int64
dtype: object

In [6]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [7]:
#remove urls, special characters, and punctuations, trailing spaces
df['CONTENT']= df['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['CONTENT']=df['CONTENT'].str.replace('\W',' ',regex=True)
df['CONTENT']=df['CONTENT'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                               CONTENT CLASS
0    Huh  anyway check out this you tube  channel  ...     1
1    Hey guys check out my new channel and our firs...     1
2               just for test I have to say murdev com     1
3      me shaking my sexy ass on my channel enjoy  _       1
4               watch v vtaRGgvGtWQ   Check this out       1
..                                                 ...   ...
345  How can this have   billion views when there s...     0
346             I don t now why I m watching this in       0
347  subscribe to me for call of duty vids and give...     1
348  hi guys please my android photo editor downloa...     1
349  The first billion viewed this because they tho...     0

[350 rows x 2 columns]

In [8]:
#everything to lowercase
df['CONTENT']=df['CONTENT'].str.lower()
df

                                               CONTENT CLASS
0    huh  anyway check out this you tube  channel  ...     1
1    hey guys check out my new channel and our firs...     1
2               just for test i have to say murdev com     1
3      me shaking my sexy ass on my channel enjoy  _       1
4               watch v vtarggvgtwq   check this out       1
..                                                 ...   ...
345  how can this have   billion views when there s...     0
346             i don t now why i m watching this in       0
347  subscribe to me for call of duty vids and give...     1
348  hi guys please my android photo editor downloa...     1
349  the first billion viewed this because they tho...     0

[350 rows x 2 columns]

In [9]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["CONTENT"]=df["CONTENT"].apply(lambda x: remove_stop(x))

df.head()

                                             CONTENT CLASS
0             huh anyway check tube channel kobyoshi     1
1  hey guys check new channel first vid us monkey...     1
2                                test say murdev com     1
3                   shaking sexy ass channel enjoy _     1
4                          watch v vtarggvgtwq check     1

In [10]:
#check nulls
df.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [12]:
#save dataframe as csv file
df.to_csv('Cleaned_Files_With_Class/Clean_Youtube01-Psy.csv')