In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [2]:
#import in csv file with comments
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/csv/Snarky%20Puppy%20-%20Trinity%20(Extended%20Version)%20(Empire%20Central)%20comments.csv")
df.head()

,id,author,thumbsup,text,# of replies,replies
0,Ugz6rjwYGcScvXf-dWt4AaABAg,Alex Dunn Piano composing,0,the funky keyboard riff (solo part at 5:34 wit...,0,[]
1,UgyAVMOl8OQUi-RoBh54AaABAg,zoomlensshow,0,Crazy how well the two drum sets play together...,0,[]
2,Ugwmer_nvfZvQZYymTN4AaABAg,Rudy Pry,0,I fell like God probably has Snarky Puppy on h...,0,[]
3,UgzM1G7dCoom3YKTnel4AaABAg,Mladen Zivkovic,0,https://www.youtube.com/shorts/8noX0Fu36fI,0,[]
4,UgwX15tneuS0JK_H0Ch4AaABAg,TheProf82,0,Are all 16 tracks visually registered like thi...,1,"[""They're releasing them slowly one by one""]"

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["replies", "# of replies","id", "author", "thumbsup"], inplace=True)

In [4]:
#check
df.head()

                                                text
0  the funky keyboard riff (solo part at 5:34 wit...
1  Crazy how well the two drum sets play together...
2  I fell like God probably has Snarky Puppy on h...
3         https://www.youtube.com/shorts/8noX0Fu36fI
4  Are all 16 tracks visually registered like thi...

In [5]:
#check
df.isnull().sum()

text    0
dtype: int64

In [6]:
df.dtypes

text    object
dtype: object

In [7]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [8]:
#remove urls, special characters, and punctuations, trailing spaces
df['text']= df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['text']=df['text'].str.replace('\W',' ',regex=True)
df['text']=df['text'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                                   text
0     the funky keyboard riff  solo part at     with...
1     Crazy how well the two drum sets play together...
2     I fell like God probably has Snarky Puppy on h...
3
4     Are all   tracks visually registered like this...
...                                                 ...
1297  Back to the roots of live album recording  Tod...
1298                                               nice
1299  Was not expecting it to go all Hans Zimmer on ...
1300   Watching yall at the show in kc yall killing lol
1301                                         Yess sirrr

[1302 rows x 1 columns]

In [9]:
#everything to lowercase
df['text']=df['text'].str.lower()
df

                                                   text
0     the funky keyboard riff  solo part at     with...
1     crazy how well the two drum sets play together...
2     i fell like god probably has snarky puppy on h...
3
4     are all   tracks visually registered like this...
...                                                 ...
1297  back to the roots of live album recording  tod...
1298                                               nice
1299  was not expecting it to go all hans zimmer on ...
1300   watching yall at the show in kc yall killing lol
1301                                         yess sirrr

[1302 rows x 1 columns]

In [10]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["text"]=df["text"].apply(lambda x: remove_stop(x))

df.head()

                                                text
0  funky keyboard riff solo part without baseline...
1       crazy well two drum sets play together clash
2  fell like god probably snarky puppy play list ...
3
4  tracks visually registered like track find han...

In [11]:
#check nulls
df.isnull().sum()

text    0
dtype: int64

In [12]:
#save clean data
df.to_csv('Cleaned_Files/clean_Snarky_Puppy.csv')